.clear {
    clear: both;
}
#mainContainer {

}
#appMainContainer {
    float: left;
    border-right: 2px dotted #333;
    width: 55%;
    padding: 10px;
}
#appConfigContainer {
    float: left;
    padding: 0 10px;
    width: 40%;
}
#managedAppsHeader {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
}
#unmanagedAppsHeader {
    color: #666;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
#managedAppsContainer {

}
#unmanagedAppsContainer {

}
.managedAppContainer, .unmanagedAppContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    height: 35px;
    padding-top: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.managedAppContainer {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFFFFF),
        color-stop(1, #EDEFF5)
    );
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EDEFF5 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EDEFF5 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EDEFF5 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EDEFF5 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEFF5 100%);
}
.unmanagedAppContainer {
    color: #ccc;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FAFAFA),
        color-stop(1, #FFFFFF),
        color-stop(1, #cccccc)
    );
    background-image: -o-linear-gradient(bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
    background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
    background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
    background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
}
#appConfigDescriptionHeader, #appConfigActionsHeader, #appConfigActionsOutputHeader {
    background-color: #eeeeee;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    padding-top: 15px;
    text-align: center;
}
#appConfigDescriptionContent {
    padding: 10px;
}
#appConfigActionsContent {
    padding: 10px;
}
#appConfigActionsOutput {
    padding: 10px;
}
.actionSelectContainer {
    float: left;
}
.actionSelectContainer select {
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 20px;
    height: 40px;
    text-align: center;
    width: 200px;
}
.actionSubmitContainer {
    float: left;
    margin: 0 0 0 20px;
}
.actionSubmitContainer a {
    -moz-user-select: none;
    background-color: #286090;
    background-image: none;
    border: 1px solid #122b40;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100px;
}
.actionSubmitContainer a:hover {
    background-color: #286090;
    background-image: none;
    border: 1px solid #122b40;
    text-decoration: none;
    color: #fff;
}
