.clear {
    clear: both;
}
#mainContainer {
    position: relative;
    min-height: 500px;
}
#appMainContainer {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 55%;
    padding: 10px;
}

#appConfigContainer {
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #eee;
    margin-left: 20px;
    margin-top: 60px;
    width: 40%;
}

#managedAppsHeader {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
}
#unmanagedAppsHeader {
    color: #666;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
#managedAppsContainer {

}
#unmanagedAppsContainer {

}
.managedAppContainer, .unmanagedAppContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    height: 35px;
    padding-top: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.managedAppContainer {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFFFFF),
        color-stop(1, #EDEFF5)
    );
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EDEFF5 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EDEFF5 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EDEFF5 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EDEFF5 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEFF5 100%);
}
.unmanagedAppContainer {
    color: #ccc;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FAFAFA),
        color-stop(1, #FFFFFF),
        color-stop(1, #cccccc)
    );
    background-image: -o-linear-gradient(bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
    background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
    background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
    background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #FFFFFF 100%, #cccccc 100%);
}
#appConfigDescriptionHeader, #appConfigActionsHeader, #appConfigActionsOutputHeader {
    background-color: #eeeeee;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    padding-top: 15px;
    text-align: center;
}
#appConfigDescriptionContent {
    padding: 10px;
}
#appConfigActionsContent {
    padding: 10px;
}
#appConfigActionsOutput {
    padding: 10px 10px 0 10px;
}
.actionSelectContainer select {
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 20px;
    height: 40px;
    text-align: center;
    width: 200px;
}
.actionSubmitContainer {
    margin-top: 10px;
}
.actionSubmitContainer a {
    background-color: #286090;
    border: 1px solid #286090;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100px;
    transition: background-color .2s ease-out,
                border-color .2s ease-out,
                color .2s ease-out;
}
.actionSubmitContainer a:hover,
.actionSubmitContainer a:active,
.actionSubmitContainer a:focus {
    background-color: #3a88c9;
    border-color: #3a88c9;
    text-decoration: none;
    color: #fff;
}
.actionSubmitContainer a.btn-go {
    color: #fff;
}

.file span { display: block; }
.file .fileheader, .file .hunkheader {color: #888; }
.file .hunk .ctx { background: #eee;}
.file .hunk ins { background: #dfd; text-decoration: none; display: block; }
.file .hunk del { background: #fdd; text-decoration: none; display: block; }

.label {
  display: inline-block;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  border-radius: 4px;
  color: #fefefe;
}
.label.installed {
    background: #3adb76;
}
.label.uninstalled {
    background: #ec5840;
}

.callout {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  position: relative;
  color: #0a0a0a;
  background-color: white;
}
.callout > :first-child {
    margin-top: 0;
}
.callout > :last-child {
    margin-bottom: 0;
}
.callout.success {
    background-color: #e1faea;
}
.callout.alert {
    background-color: #fce6e2;
}
.callout.small {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.close-button {
  position: absolute;
  color: #8a8a8a;
  right: 1rem;
  top: 0.5rem;
  font-size: 2em;
  line-height: 1;
  cursor: pointer; }
[data-whatinput='mouse'] .close-button {
    outline: 0;
}
.close-button:hover, .close-button:focus {
    color: #0a0a0a;
}

label[for="paramFrom"],
label[for="paramTo"] {
    display: inline-block;
    min-width: 100px;
}

#paramFrom, #paramTo {
    border: 1px solid #777;
    border-radius: 3px;
    padding: 2px;
}
